# Convert files to Pandas Dataframe

In [17]:
import pandas as pd
from tqdm import tqdm # progress bar

In [80]:
df = pd.read_excel("output_file.xlsx", header=None)

In [85]:
df.head()

                 0    1    2
0                а    ю  NaN
1             абад  о,р  NaN
2           абадий   сф  NaN
3     абадийлашмоқ    ф  NaN
4  абадийлаштирмоқ    ф  NaN

# Select nouns only

In [150]:
new_df = df.loc[(df[1] == 'о')]

In [151]:
new_df.head()

            0  1    2
5   абадийлик  о  NaN
6      абадия  о  NaN
8     абадият  о  NaN
10     абажур  о  NaN
13      аббат  о  NaN

In [152]:
new_df.drop([1,2],axis=1,inplace=True)
new_df.reset_index(drop=True, inplace=True)
new_df.columns = ['words']

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\frame.py:4312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

# Convert words column to list and save to a file

In [153]:
words = new_df['words'].to_list()

In [160]:
with open('words.py', 'w', encoding='utf8') as filehandle:
    filehandle.write('%s' % 'words=[')
    for word in words[:-1]:
        filehandle.write('%s\n' % f"\"{word}\",")
    filehandle.write('%s' % f'\"{words[-1]}\"]')

In [161]:
from words import words

In [165]:
words[0:10]

['абадийлик',
 'абадия',
 'абадият',
 'абажур',
 'аббат',
 'аббосийлар',
 'аббревиатура',
 'абгорлик',
 'абдол',
 'аберрация']